# Virtual environments.
/.tox
/venv

# Python build artifacts.
/betty_http_api_doc.egg-info
/build
/dist
*.pyc

# Test artifacts.
/.coverage

# JavaScript development dependencies.
/node_modules
/package-lock.json
